@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
html {
    --bg-color: white;
    --text-color: black;
  }
  
  html.dark {
    --bg-color: #1a202c; /* Dark mode background color */
    --text-color: #e2e8f0; /* Dark mode text color */
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  