@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    --bg-color: white;
    --text-color: black;
  }
  
  html.dark {
    --bg-color: #1a202c; 
    --text-color: #e2e8f0;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  

  